html {
	margin: 0;
	padding: 0;
	}

h1 {
	background-color: skyblue;
	font: "Times New Roman", sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: black;
}

body { 
	font: 100% "Times New Roman", sans-serif;
	line-height: 1.88889;
	background-color: skyblue;
	color: saddlebrown;
	margin: 0; 
	padding: 0;
}
